body {
  background: url(bg.jpg) no-repeat right;
  color: #000;
}

header {
  font-size: 42px;
}

.loading {
  background: url(loading_icon.gif) no-repeat center;
  background-size: contain;
  display: none;
  height: 24px;
  width: 24px;
  margin-top: 25px;
}

.shift-field {
  margin: 10px 0;
}
